## Simple array manipulations 1.5 Points
### Question 1  +.5 Points
Please complete the code that would return the following results by completing the TODO Section:   
**God Shave the Dean!**

In [3]:
variable = ('And', 'the', 'Brass', 'Band', 'plays',"God Shave the Dean!")
#Please Provide the answer in the todo section below
print(variable[5])

God Shave the Dean!

### Question 2  +.5 Points

Please complete the code that would return the following results by completing the TODO Section:  
And  
the  
Brass  
Band  
plays  
God Shave the Dean!

In [6]:
variable = ('And', 'the', 'Brass', 'Band', 'plays',"God Shave the Dean!")
x = 0

while x < 6: 
    print (variable[x])
    x=x+1

And
the
Brass
Band
plays
God Shave the Dean!

### Question 3  +.5 Points 

Please complete the code that would return the following results by completing the TODO Section:  
Johns  
Hopkins  
University

In [12]:
### For loop implementation
d = {0: 'Johns', 1: 'Hopkins', 2: 'University'}
for key in d:
    print(d[key])

Johns
Hopkins
University

## Pandas Data Query and Manipulation +5 Points  
Please complete the code in the todo section

In [14]:
# importing pandas as pd and build the dataframe
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
 

df = pd.DataFrame({"A":[11,14, 4, 5, 44, 3,4,5,6,7,None,6],
                   "B":[5, 1, 25, 3, 2, 3,4,None,6,7,1,6],
                   "C":[20, 16, 7, 1, 8,15, 12,3, 17, 23,2, 7], 
                   "D":[15, 3, 17, 2, 7,11,14, 4, 5, 44, 3,4]})

# Print the dataframe
df

       A     B   C   D
0   11.0   5.0  20  15
1   14.0   1.0  16   3
2    4.0  25.0   7  17
3    5.0   3.0   1   2
4   44.0   2.0   8   7
5    3.0   3.0  15  11
6    4.0   4.0  12  14
7    5.0   NaN   3   4
8    6.0   6.0  17   5
9    7.0   7.0  23  44
10   NaN   1.0   2   3
11   6.0   6.0   7   4

### Pandas Question1 +1 point

In [17]:
#Pandas Row Max +1 point
#Todo Return the Max of all the Rows  #Hint you may use the dataframe.max() function and axis= 1
#Todo (df.updated this portion)
maxValues = df.max(axis=1)
print(maxValues)

0     20.0
1     16.0
2     25.0
3      5.0
4     44.0
5     15.0
6     14.0
7      5.0
8     17.0
9     44.0
10     3.0
11     7.0
dtype: float64

### Pandas Question2 +1 point

In [18]:
#Pandas Column Max +1 point
#Todo Return the Max of all the Columns  #Hint you may use the dataframe.max() function and axis= 0
#Todo print(df.updated this portion)
maxValues = df.max(axis=0)
print(maxValues)

A    44.0
B    25.0
C    23.0
D    44.0
dtype: float64

### Pandas Question3 +1 point

In [21]:
#Pandas Size +1 point
#Return the size of the dataframe. 

print(df.size)

48

### Pandas Question4 +1 point

In [27]:
#Pandas Standardize +2 point
#Todo return scaler transform of the dataframe. 
stand = StandardScaler()
data = stand.fit_transform(df)
print(data)

[[ 0.09722418 -0.11368408  1.29660876  0.37909049]
 [ 0.36459066 -0.73894655  0.72562509 -0.69128265]
 [-0.52663095  3.01262824 -0.55908818  0.55748601]
 [-0.43750879 -0.42631532 -1.41556369 -0.78048041]
 [ 3.0382555  -0.58263093 -0.41634226 -0.33449161]
 [-0.61575311 -0.42631532  0.58287917  0.02229944]
 [-0.52663095 -0.2699997   0.15464141  0.28989273]
 [-0.43750879         nan -1.13007186 -0.60208489]
 [-0.34838663  0.04263153  0.86837101 -0.51288713]
 [-0.25926447  0.19894715  1.72484652  2.96582557]
 [        nan -0.73894655 -1.27281778 -0.69128265]
 [-0.34838663  0.04263153 -0.55908818 -0.60208489]]

### Pandas Question5 +1 point

In [28]:
#Pandas Normalize +2 point
#Todo Return nomalized transform of the dataframe. 
minmax = MinMaxScaler()
data2 = minmax.fit_transform(df)
print(data2)

[[0.19512195 0.16666667 0.86363636 0.30952381]
 [0.26829268 0.         0.68181818 0.02380952]
 [0.02439024 1.         0.27272727 0.35714286]
 [0.04878049 0.08333333 0.         0.        ]
 [1.         0.04166667 0.31818182 0.11904762]
 [0.         0.08333333 0.63636364 0.21428571]
 [0.02439024 0.125      0.5        0.28571429]
 [0.04878049        nan 0.09090909 0.04761905]
 [0.07317073 0.20833333 0.72727273 0.07142857]
 [0.09756098 0.25       1.         1.        ]
 [       nan 0.         0.04545455 0.02380952]
 [0.07317073 0.20833333 0.27272727 0.04761905]]

## Natural Language Processing +5 Points  
Please complete the code in the todo section

### NLP Question1 +1 point

In [40]:
#NLP Tokenize the sentence +1 point
#Todo return word tokenized text.
nltk.download()
import nltk

text = "At JHU you can earn an empowering JHU degree in Science while exploring Educational opportunities within graduate level Programs"
tokens = nltk.word_tokenize(text)
print(tokens)

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
['At', 'JHU', 'you', 'can', 'earn', 'an', 'empowering', 'JHU', 'degree', 'in', 'Science', 'while', 'exploring', 'Educational', 'opportunities', 'within', 'graduate', 'level', 'Programs']

### NLP Question2 +1 point

In [41]:
#NLP Tokenize the sentence +1 point
#Todo return sentence tokenized text.
import nltk
text = "At JHU you can earn an empowering JHU degree in Science while exploring Educational opportunities within graduate level Programs"
tokens = nltk.sent_tokenize(text)
print(tokens)

['At JHU you can earn an empowering JHU degree in Science while exploring Educational opportunities within graduate level Programs']

### NLP Question3 +1 point

In [45]:
#NLP POS tag the words +1 point
#Todo POS tagged text.
import nltk
text = "At JHU you can earn an empowering JHU degree in Science while exploring Educational opportunities within graduate level Programs"
tokens = nltk.word_tokenize(text)
tag = nltk.pos_tag(tokens)
print(tag)

[('At', 'IN'), ('JHU', 'NNP'), ('you', 'PRP'), ('can', 'MD'), ('earn', 'VB'), ('an', 'DT'), ('empowering', 'NN'), ('JHU', 'NNP'), ('degree', 'NN'), ('in', 'IN'), ('Science', 'NNP'), ('while', 'IN'), ('exploring', 'VBG'), ('Educational', 'JJ'), ('opportunities', 'NNS'), ('within', 'IN'), ('graduate', 'JJ'), ('level', 'NN'), ('Programs', 'NNP')]

### NLP Question4 +3 Points
### Please complete the todo portions of the code below and also create results as shown below
#### Todo - Tokenize
#### Todo - POS
#### Todo1- JJ  Adjective    
#### Todo2- NNS Noun plural      
#### Todo3- IN  Preposition/subordinating conjunction    
#### Todo4- JJ  Adjective    
#### Todo5- NN 	noun, singular     

### This should be the result of the print(result) statement when the todos are added  
(S  
  At/IN  
  JHU/NNP  
  you/PRP  
  can/MD  
  earn/VB  
  an/DT  
  (NP empowering/NN)  
  JHU/NNP  
  (NP degree/NN)  
  in/IN  
  Science/NNP  
  while/IN  
  exploring/VBG  
  (NP  
    Educational/JJ  
    opportunities/NNS  
    within/IN  
    graduate/JJ  
    level/NN)  
  Programs/NNP)

In [47]:
#Please complete the tokenization section by adding the following to the POS tagging Portion
import nltk
text = "At JHU you can earn an empowering JHU degree in Science while exploring Educational opportunities within graduate level Programs"
tokens = nltk.word_tokenize(text)
tag = nltk.pos_tag(tokens)
#grammar = "NP: {<TODO1>?<TODO2>*<TODO3>?<TODO4>?<TODO5>}" 
grammar = "NP: {<JJ>?<NNS>*<IN>?<JJ>?<NN>}"
cp  =nltk.RegexpParser(grammar)
result = cp.parse(tag)
print(result)

(S
  At/IN
  JHU/NNP
  you/PRP
  can/MD
  earn/VB
  an/DT
  (NP empowering/NN)
  JHU/NNP
  (NP degree/NN)
  in/IN
  Science/NNP
  while/IN
  exploring/VBG
  (NP
    Educational/JJ
    opportunities/NNS
    within/IN
    graduate/JJ
    level/NN)
  Programs/NNP)